.test[data-columns]::before {
  content: '3 .column.size-1of3';
}

/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of3 { width: 33.333%; }

/* Also, don't forget to add this: */
[data-columns]::before {
    position: absolute;
    right: 9999em;
    bottom: 9999em;
    visibility: hidden;
}

.imgur_pic {
  width: 100%;
}
.imgur_pic img {
  width: 100%;  
}

.imgur_box_pic {
  float:left;
}

